version: '3.9'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
    ports:
      - '8000:8000'
    command: >
      bash -c " python stripe_project/manage.py collectstatic --noinput
      && python stripe_project/manage.py makemigrations
      && python stripe_project/manage.py migrate
      && python stripe_project/manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./stripe_project/.env.docker:/code/stripe_project/.env
  db:
    restart: always
    image: postgres
    container_name: stripe_db
    env_file:
      - ./stripe_project/.env.docker
    expose:
      - '5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U mail_app" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: